@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --light: #ffff;
  --grey-100: #f1f1ef;
  --grey-200: #dfdfdf;
  --grey-300: #d3d3d3;
  --grey-400: #a2a09e;
  --grey-500: #7c7c7c;
  --dark: #272727;
  --red-100: #b73535;
  --font-family: "Montserrat", Arial, Helvetica, sans-serif;
  --font-xsm: 0.8rem;
  --font-sm: 0.85rem;
  --font-md: 1.2rem;
  --font-lg: 1.8rem;
  --font-xlg: 2rem;
  --gap-sm: 0.25rem;
  --gap-md: 1.2rem;
  --border-radius: 0.15rem;
  --dvw-100: 100dvw;
  --dvh-100: 100dvh;
  --dvh-body: calc(var(--dvh-100) - 3rem); /* considering the margin-top/bottom of the body */
}
