.container {
  position: relative;
  margin-left: 1rem;
  margin-right: 1rem;
  width: calc(100% - 2rem);
  background-color: var(--light);
}

@media (min-width: 400px) {
  .container {
    margin: 0 auto;
    max-width: 360px;
  }
}
